body {
  background-color: yellow;
  background-image: url(/images/tips-for-paying-off-credit-card-debt.jpg);
  background-size: contain;
  background-repeat: repeat-x;
}

.cardSales {
  border: 3px solid black;
  display: inline-block;
  text-align: center;
  margin: 5px;
}

p {
  border: 3px dotted black;
}

label {
  color: red;
  margin-left: 30px;
}

input {
  margin-bottom: 20px;
}

h1 {
  color: red;
}