<div class="col-md-offset-2">
  <label for="questionBuyer">Question for Seller:</label>
  <input type="text" ng-model="questionBuyer" size="70" placeholder="Type your question here and press Question button of the card you want">
</div>

<hr>

<div id="cardsOwned">
  <h2>Cards I Own:</h2>
  <article class="cardSales" ng-repeat="card1 in cardz">
    <header><button class="question" ng-click="questionResponse(card1.id)">QUESTION</button></header>
    <section ng-click="getCard(card1.id)">
      <p>{{card1.merchant}}</p>
      <p>{{card1.value}}</p>
      <p>{{card1.isDone}}</p>
    </section>
    <footer><button ng-click="deleteCard(card1.id)">Delete</button><button ng-click="detailsAlert(card1.details)">Details</button></footer>
  </article>
</div>

<hr>

<div id="cards4Sale">
  <h2>Cards For Sale:</h2>
  <article class="cardSales" ng-repeat="card2 in cards">
    <header><button class="question" ng-click="askQuestion(card2.id)">QUESTION</button></header>
    <section ng-click="getCard(card2.id)">
      <p>{{card2.merchant}}</p>
      <p>{{card2.value}}</p>
      <p>{{card2.isDone}}</p>
    </section>
    <footer><button ng-click="buyCard(card2)">Buy</button><button ng-click="detailsAlert(card2.details)">Details</button></footer>
  </article>
</div>