<div class="col-md-offset-5">
  <label>LOGIN E-MAIL</label>
</div>
<div class="col-md-offset-5">
  <input type="text" placeholder="E-mail Address" autofocus="true" ng-model="account.email">
</div>
<div id="space1"></div>
<div class="col-md-offset-5">
  <label>PASSWORD</label>
</div>
<div class="col-md-offset-5">
  <input type="password" placeholder="Password" ng-model="account.password">
</div>
<div class="col-md-offset-5">
  <button class="login" ng-click="login()">Login</button>
  <button class="register" ng-click="register()">Register</button>
</div>