
<div class="col-md-offset-5">
  <input type="text" placeholder="Full Name">
</div>
<div class="col-md-offset-5">
  <input type="text" placeholder="Street Address">
</div>
<div class="col-md-offset-5">
  <input type="text" placeholder="City" class="col-md-3">
</div>
<div>
  <input type="text" placeholder="State" class="col-md-2">
</div>
<div>
  <input type="text" placeholder="ZIP Code" class="col-md-2">
</div>
<div class="col-md-offset-5">
  <input type="text" placeholder="E-mail Address" ng-model="emailAddress">
</div>
<div class="col-md-offset-5">
  <button>Save</button>
  <button>Cancel</button>
</div>
<hr>
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Buy History</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">Panel Body</div>
      <div class="panel-footer">Panel Footer</div>
    </div>
  </div>
</div>
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse2">Sell History</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">Panel Body</div>
      <div class="panel-footer">Panel Footer</div>
    </div>
  </div>
</div>


